---
layout: blank
permalink: /kenya-bird-map-species-map/
title: "Kenya Bird Map Species Map"

plugins: 
- token
- jQuery
- Leaflet
- Bootstrap
- font-awesome
- kenya-bird-map-species-map
- no_default_script
- vuejs
- bootstrap-vue
- vue-select
- Vue2Leaflet
- papaparse
---



<div id="ff">
	<l-map :bounds="bounds">
		<l-tile-layer :url="lurl"></l-tile-layer>
		<l-rectangle v-for="p in pentads" :bounds="p.sq"></l-rectangle>
		<!--
			 @click="removeMarker(index)"
			<l-marker :lat-lng.sync="marker_pentad.position" :draggable="true" :visible="displayMarkerPentad"></l-marker>-->
	</l-map>
	<v-select v-model="speciesCode" label="label" :options="species" :reduce="e => e.code" required id="species-select"></v-select>
</div>


